header {
  background-color: #222;
  animation: brillo 20s ease-in-out infinite;
  box-shadow: 0 4px 6px rgb(216, 1, 1), 0 0 12px rgb(33, 8, 255);
  position: relative;
  z-index: 1000;
}
@keyframes brillo {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}
.nav {
  list-style-type: none;
  color: #fff;
  font-size: 20px;
  font-family: 'Russo One', sans-serif;
  

}
header img {
  position: absolute;
  left: 0;
  height: 50px;
  /* tamaño del logo */
  padding-left: 20px;
  padding-bottom: 10px;
}
.btn {
  background-color: rgb(158, 157, 157);
  color: black;
  border-color: #222;
  font-family: 'Russo One', sans-serif;
}
a:hover {
  color: #ee2a2a;
  cursor: pointer; 
  transition: 0.3s;
}
li{
  align-items: center;
  list-style: none;
  font-family: 'Russo One', sans-serif;
}
.dropdown-menu{
  margin-top: 2rem;
  background-color: #222;
  color: aliceblue;
  position: relative;
  z-index: 2000 !important;
}
a{
  color:#fff;
  text-decoration: none;
}
.nav {
  --bs-nav-link-color: var(white);
  --bs-nav-link-hover-color: var(red);
}