<header class="text-bg-dark p-2 mb-2" *ngIf="getUserROL() == 'USER' || getUserROL() == null">
  <img src="favicon.ico" alt="Logo de mi sitio web">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="home" class="px-4">Inicio</a></li>
        <li><a routerLink="juegos" class="px-4">Juegos</a></li>
        <li><a routerLink="foro" class="px-4">Foro</a></li>
      </ul>
      <div class="text-end" *ngIf="isLoggedIn()">
        <li class="dropdown">
          <a class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Mi perfil
          </a>
          <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="editar-perfil">Editar perfil</a>
              <a class="dropdown-item" (click)="logout()">Cerrar sesión</a>
          </div>
      </li>
      </div>
      <div class="text-end" *ngIf="!isLoggedIn()">
        <button type="button"  routerLink="login"  class="btn btn-warning">Iniciar sesión</button>
        <button type="button"  routerLink="register"  class="btn btn-warning">Registrarse</button>
      </div>
    </div>
  </div>
</header>

<header class="text-bg-dark p-2 mb-2" *ngIf="getUserROL() == 'ADMIN'">
  <img src="favicon.ico" alt="Logo de mi sitio web">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="home" class="px-4">Inicio</a></li>
        <li><a routerLink="juegos" class="px-4">Juegos</a></li>
        <li><a routerLink="foro" class="px-4">Foro</a></li>        
        <li><a routerLink="administracion" class="px-4">Administración</a></li>
      </ul>
      <div class="text-end" *ngIf="isLoggedIn()">
        <li class="dropdown">
          <a class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Mi perfil
          </a>
          <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="editar-perfil">Editar perfil</a>
              <a class="dropdown-item" (click)="logout()">Cerrar sesión</a>
          </div>
      </li>
      </div>
      <div class="text-end" *ngIf="!isLoggedIn()">
        <button type="button"  routerLink="login"  class="btn btn-warning">Iniciar sesión</button>
        <button type="button"  routerLink="register"  class="btn btn-warning">Registrarse</button>
      </div>
    </div>
  </div>
</header>