header{
    padding: 10px 0;
    background-color: #222;
    animation: brillo 20s ease-in-out infinite;
    box-shadow: 0 4px 6px rgb(216, 1, 1), 0 0 12px rgb(33, 8, 255);
  
   
      
}
@keyframes brillo {
    0% {
      opacity: 0.8;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.8;
    }
    
  }
.menu{
float:left;
  

}

.menu ul{
 padding-top: 10px;
   
}

.menu ul li{
list-style-type: none;
color: #fff;
display: inline-block;
font-size: 20px;
margin-left:24px;
font-family: 'Russo One', sans-serif;
margin-right: 50px;
padding-right: 112px;
justify-content: center; 
 


}

.menu ul li:hover{
    color:#ee2a2a;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    
}

@media only screen and (max-witdth:999px){
    .menu{
        position: fixed;
        right: 0px;
        top: 64px;
        width: -280px;
        height: 100%;
        background-color: #222;
    }
    .menu ul li{
        display:block;
        text-align: left;
        margin: 0;
        padding: 10px 0 10px 28px;
        border-bottom: 1px solid rgb(78, 78, 78);

        
        
    }

    .menu_icon{
        display: inline-blocks;
        position: relative;
        right: 0;
        top:20px;
    }




    .menu_icon span{
        width: 32px;
        height: 20px;
        background-color: #fff;
        display:block;
        transition: 0.2s ease-in-out;
        
    }

    .menu_icon span:nth-child(2){
        margin: 4px 0;
    }

    .menu_icon_Class span:nth-child(){
        display: none;
    }

    .menu_icon_Class span:nth-child(1){
        transform: rotate(40deg);
        margin-top: -3px;
    }

    .menuClass{
        right: 0;
        transition: 0.4 ease-in-out;
    }

    
}


.dropdown {
  position: absolute;
  top: 0;
  right: 0;
}

.dropbtn {
  background-color: #222;
  color: white;
  padding: 12px;
  font-size: 16px;
  font-family: 'Russo One', sans-serif;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #222;
  min-width: 160px;
  z-index: 1;
  display: none;
  font-family: 'Russo One', sans-serif;
  color: #ee2a2a;
}

.show {
  display: block;
}

.dropbtn:hover{
    color:#ee2a2a;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

header img {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px; /* tamaño del logo */
  padding: 10px; /*espacio entre logo y borde */
}