a{
    text-decoration: none;
    color: purple;
    font-weight: 800;
    font-family: 'Rajdhani', sans-serif;
}
button{
    font-family: 'Rajdhani', sans-serif;
    font-weight: bolder;
}
label{
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
}
img{
    width: 125px;
}
.logo{
    display: flex;
    justify-content: center;
}
.card{
    width: 25%;
    box-shadow: 8px 8px 20px rgb(216, 1, 1),8px 8px 25px rgb(33, 8, 255) ;
    align-items: center;
}

.contenedor{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    margin-bottom: 100px;
}

@media screen and (max-width: 1200px) {
    .card{
        width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .card{
        width: 80%;
    }
}
