.card{
    height: 100%;
    width: 100%;
    background-color: #222;
    
}
iframe{
    height: 100%;
    width: 100%;
}

img{
width: 40%;
}

h1{
color: aliceblue;
}

h4{
    color: aliceblue;
}

[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
  }

  nz-button-group [nz-button] {
    margin-right: 0;
  }