<br>
<br>
<br>
<br>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <img src="../../../../../assets/img/ranaman.png">
    </ng-template>  
    <ng-template carouselSlide>
      <img src="../../../../../assets/img/tranferjump.png">
    </ng-template>  
    <ng-template carouselSlide > 
      <img src="../../../../../assets/img/ranaman.png">
    </ng-template>
    
    <ng-template carouselSlide>
      <img src="../../../../../assets/img/tranferjump.png"> 
    </ng-template>  
  </owl-carousel-o>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <br>
  <br>
  <br>


