<div>
  <div class="footer">
  <img src="../../../assets/logo-circle.png" alt="Logo Transfer" class="logo" />
  <div class="icons-container">
    <a href="" class="social-icon"></a>
    <a href="" class="social-icon"></a>
    <a href="" class="social-icon"></a>
    <a href="" class="social-icon"></a>
  </div>
  <ul class="footer-menu">
    <li class="menu-item">Legal</li>
    <li class="menu-item">Cookies</li>
    <li class="menu-item">Privacidad</li>
  </ul>
  <span class="copyright">&copy;2023, Transfer Games. "Todos los derechos reservados".</span>  
</div>
</div>