<div class="container mt-5">  
    <footer class="p-4" >
      <ul class="nav justify-content-center border-bottom">
        <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Juegos</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Foro</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Instagram</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Contáctenos</a></li>
      </ul>
      <p class="text-center">© 2023 TransferGamer by Reta</p>
    </footer>
  </div>
