*{
    font-family: 'Rajdhani', sans-serif;
}
label{
    font-size: 20px;
}
img{
    width: 125px;
}

.card{
    width: 26%;
    box-shadow: 8px 8px 20px rgb(216, 1, 1),8px 8px 25px rgb(33, 8, 255) ;
}
.contenedor{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 50px;
}
@media screen and (max-width: 1200px) {
    .card{
        width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .card{
        width: 80%;
    }
}

