<div class="contenedor">
    <div class="card p-4">  
        <form class="mx-auto" style="max-width: 25rem;" #form="ngForm" (ngSubmit)="registerAuth()">
            <div class="d-flex justify-content-center">
            <img src="favicon.ico"/>
            </div>
            <div class="mb-3">
                <label for="text">Nombre</label>
                <input id="name" name="name" type="text" size="25" class="form-control" [(ngModel)]="creds.name">
            </div>
            <div class="mb-3">
                <label for="email">Email</label>
                <input id="email" name="email" type="email" size="25" class="form-control" [(ngModel)]="creds.email">
            </div>
            <div class="mb-3">
                <label for="password">Contraseña</label>
                <input id="password" name="password" type="password" size="25" class="form-control" [(ngModel)]="creds.password">
            </div>
            <div class="d-grid">
                <button class="btn btn-lg btn-danger">Registrarse</button>
            </div>
        </form>
    </div>    
</div>
