<div class="container p-4">
  <div class="card p-2 align-items-center">
    <form>
    <div class="mb-3">
      <label class="form-label">ID</label>
      <input type="text" class="form-control" id="idInput" [(ngModel)]="user.id" name="id" placeholder="{{user.id}}">
    </div>
    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input type="text" class="form-control" id="nameInput" [(ngModel)]="user.name" name="name"placeholder="{{user.name}}">
    </div>
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email" class="form-control" id="emailInput" [(ngModel)]="user.email" name="email" placeholder="{{user.email}}">
    </div>
    <div class="mb-3">
      <label class="form-label">Imagen</label>
      <input type="file" class="form-control" id="imageInput">
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
  </div>
</div>
